<h1 class="text-blueGray-900">Add {{storeName}}</h1>
<div class="p-grid p-dir-col form-container" style="max-width: 400px;">
    <form (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="p-grid">
        <div class="p-col-12">
            <div class="p-col-12">
                <div class="p-field">
                  <label for="storeId">Store ID</label>
                  <input id="storeId" type="text" class="p-inputtext p-inputtext-lg" [(ngModel)]="storeId" name="storeId" readonly>
                </div>
              </div>
          <div class="p-field">
            <label for="productName">Product Name</label>
            <input id="productName" type="text" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.product_name" name="productName">
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field">
            <label for="category">Category</label>
            <input id="category" type="text" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.category" name="category">
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field">
            <label for="price">Price</label>
            <input id="price" type="number" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.price" name="price">
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field">
            <label for="stock">Stock</label>
            <input id="stock" type="number" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.stock" name="stock">
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field">
            <label for="image">Image</label>
            <input id="image" type="text" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.image" name="image">
          </div>
        </div>
        <div class="p-col-12">
          <div class="p-field">
            <label for="supplier">Supplier</label>
            <input id="supplier" type="text" class="p-inputtext p-inputtext-lg" [(ngModel)]="product.supplier" name="supplier">
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <button pButton type="submit" class="p-button bg-blueGray-200 text-blueGray-900 font-bold border-0 w-full justify-center">
          Add Product
        </button>
      </div>
    </form>
</div>
